*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Popins',sans-serif;
}
body{
    height:100vh;
    width:100%;
}
input{
    display:none;
}
.container{
    width:33.5%;
    height:80vh;
    position:relative;
    left:50%;
    top:10%;
}
#covers{
    width:100%;
    height:100%;
    position:absolute;
    z-index:12;
    top:0;
    left:0;
    transform-origin:left;
    transform-style:preserve-3d;
    transform: rotatey(0deg);
    transition: 1s;
}
#cover, #cover0{
    padding:2rem;
    display:grid;
    line-height:2rem;
    justify-items: center;
    align-content: center;
    position:absolute;
    border:2px solid rgba(40,152,133,0.7);
    background:rgb(240, 237, 237);
    width:100%;
    height:100%;
    top:0;
    left:0;
}
#cover{
    z-index:10;
}
#cover0
{
    transform: rotatey(-180deg);
    backface-visibility: hidden;
}
.blank{
    background:white;
}
#cover, #cover2, #cover0{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.2) ,rgba(45, 173, 152, 0.7)), url('2.jpg');
    background-size:100% 100%;
    border:2px solid rgba(40,152,133,0.7);
    width:100%;
    height:100%;
    display:grid;
    justify-items:center;
    align-content: center;
}
#cover h1, #cover2 h1, #cover0 h1{
    font-size:3rem;
    height:10vh;
   margin:2rem 0;
    color: transparent;
    background-image: url('2.gif');
    -webkit-background-clip: text;
}
#cover h2, #cover2 h2, #cover0 h2{
    text-align:center;
    font-size: 2.2rem;
    color: white;
}
#cover img, #cover2 img , #cover0 img{
    width:20vh;
    height:12vh;
}
.page-container{
    width:100%;
    height:100%;
    position:relative;
}
.page{
    width:100%;
    height:100%;
    position:absolute;;
    top:0;
    left:0;
    transform-origin:left;
    transform-style:preserve-3d;
    transform: rotatey(0deg);
    transition: 1s;
}
.front, .back{
    padding:2rem;
    display:grid;
    line-height:2rem;
    justify-items: center;
    align-content: center;
    position:absolute;
    border:2px solid rgba(40,152,133,0.7);
    background:rgb(240, 237, 237);
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.front h1, .back h1{
color:rgba(29, 80, 71, 0.7);
line-height:3rem;
font-size:2.2rem;
border-bottom:2px solid rgba(29, 80, 71, 0.7);
}
.front h2, .back h2{
    position:relative;
    color:rgba(29, 80, 71, 0.7);
    line-height:3rem;
   left:-5rem;
    }
.front p, .back p{
    font-size:1rem;
} 
.front h3, .back h3{
    position:relative;
    left:-5rem;
    color:rgba(29, 80, 71, 0.7);
}
.front p i, .back p i{
    position:relative;
    color:rgba(29, 80, 71);
    border-radius:100%;
    font-size:.4rem; 
    top:-.2rem;
    margin: .3rem;
} 
.num{
    position:absolute;
    left:45%;
    top:4%;    
    font-size:1.4rem;
    text-align: center;
    color:rgb(219, 207, 207);
    height:4.5vh;
    width:4.5vh;
    border-radius:100%;
    border:2px solid rgba(40,152,133,0.7);
    background: linear-gradient(to top right, rgb(0, 0, 0, .6), rgb(27, 75, 67) 80%);
}   
.back
{
    transform: rotatey(-180deg);
    backface-visibility: hidden;
}
.b-btn, .n-btn{
    font-size:1.6rem;
    position:absolute;
    left:40%;
    bottom:4%;
    text-transform: capitalize;
    color:rgb(219, 207, 207);
    padding:5px 15px;
    border:2px solid rgba(40,152,133,0.7);
    background: linear-gradient(to top right, rgb(0, 0, 0, .6), rgb(27, 75, 67) 80%);
}
#p1{
    z-index:7;
    width:93%;
}
#p2{
    z-index:6;
    width:94%;
}
#p3{
    z-index:5;
    width:95%;
}
#p4{
    z-index:4;
    width:96%;
}
#p5{
    z-index:3;
    width:97%;
}
#p6{
    z-index:2;
    width:98%;
}
#p7{
    z-index:1;
    width:99%;
}
#c0:checked+#covers{
    transform:rotateY(-180deg);
    z-index:0;
}
#c1:checked~.page-container #p1{
    transform: rotatey(-180deg);
    z-index:1;
    width:99%;
}
#c2:checked~.page-container #p2{
    transform: rotatey(-180deg);
    z-index:2;
    width:98%;
}
#c3:checked~.page-container #p3{
    transform: rotatey(-180deg);
    z-index:3;
    width:97%;
}
#c4:checked~.page-container #p4{
    transform: rotatey(-180deg);
    z-index:4;
    width:96%;
}
#c5:checked~.page-container #p5{
    transform: rotatey(-180deg);
    z-index:5;
    width:95%;
}
#c6:checked~.page-container #p6{
    transform: rotatey(-180deg);
    z-index:6;
    width:94%;
}
#c7:checked~.page-container #p7{
    transform: rotatey(-180deg);
    z-index:7;
    width:93%;
}